{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid card justify-content-around">
        <div class="row my-5">
            <div class="col-5">
                <div class="row justify-content-end">
                    <div class="border-dark">
                        <div class="card-body text-center">
                            <img style="width: 350px" class="card-body text-center mx-5 border mt-5"
                                 src="{{ participant.image }}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="me-5">
                    <div class="row">
                        <div class="col-10 mt-2">
                            <strong>{{ participant.pseudo }}</strong>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-10  mt-2">
                            <p>Prénom:</p>
                        </div>
                        <div>
                            {{ participant.prenom }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-10 mt-2">
                            <p>Nom:</p>
                        </div>
                        <div>
                            {{ participant.nom }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-10 mt-2">
                            <p>Téléphone:</p>
                        </div>
                        <div>
                            {{ participant.telephone }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-10 mt-2">
                            <p>Email:</p>
                        </div>
                        <div>
                            {{ participant.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 mt-2">
                            <p>Campus</p>
                        </div>
                        <div>
                            {{ participant.campus.nom }}
                        </div>
                    </div>
                    <div class="col-5 mt-3">
                        <button class="btn btn-primary text-light" type="submit" href="{{ path('home') }}">Retour
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}