{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}

    <div >
        <h2 class="mb-5 text-center" id="titre">Afficher une sortie</h2>
    </div>

    <div class="container">

        <!--Ligne 1 nom de la sortie + campus-->
        <div class="row col-12">
            <div class="row col justify-content-around">
                <label class="col-4 mb-3" for="nomSortie">Nom de la sortie :</label>
                <span class="col-6 mb-3">{{ sortie.nom }}</span>
            </div>
            <div class="row col justify-content-around">
                <label class="col-4 mb-3" for="campus">Campus :</label>
                <span class="col-6 mb-3">{{ sortie.campus.nom }}</span>
            </div>
        </div>

        <!--Ligne 2 date heure sortie + lieu-->
        <div class="row col-12">
                <div class="row col justify-content-around">
                    <label class="col-4 mb-3" for="dateHeureSortie">Date et heure de la sortie :</label>
                    <span class="col-6 mb-3">{{ sortie.dateHeureDebut|date('d-m-Y H:i:s') }}</span>
                </div>
                <div class="row col justify-content-around">
                    <label class="col-4 mb-3" for="lieu">Lieu :</label>
                    <span class="col-6 mb-3">{{ sortie.lieu.nom }}</span>
                </div>
        </div>

        <!--Ligne 3 date limite inscription + rue-->
        <div class="row col-12">
                <div class="row col justify-content-around">
                    <label class="col-4 mb-3" for="dateLimiteInscription">Date limite inscription :</label>
                    <span class="col-6 mb-3">{{ sortie.dateLimiteInscription|date('d-m-Y') }}</span>
                </div>
                <div class="row col justify-content-around">
                    <label class="col-4 mb-3" for="rue">Rue :</label>
                    <span class="col-6 mb-3">{{ sortie.lieu.rue }}</span>
                </div>
        </div>

        <!--Ligne 4 nombre de places + code postal-->
        <div class="row col-12">
                <div class="row col justify-content-around">
                    <label class="col-4 mb-3" for="nombrePlaces">Nombre de places :</label>
                    <span class="col-6 mb-3">{{ sortie.nbInscriptionMax }}</span>
                </div>
                <div class="row col justify-content-around">
                    <label class="col-4 mb-3" for="codePostal">Code postal :</label>
                    <span class="col-6 mb-3">{{ sortie.lieu.ville.codePostal }}</span>
                </div>
        </div>

        <!--Ligne 5 durée + latitude-->
        <div class="row col-12">
                <div class="row col justify-content-around">
                    <label class="col-4 mb-3" for="durée">Durée :</label>
                    <span class="col-6 mb-3">{{ sortie.duree }}</span>
                </div>
                <div class="row col justify-content-around">
                    <label class="col-4 mb-3" for="latitude">Latitude :</label>
                    <span class="col-6 mb-3">{{ sortie.lieu.latitude }}</span>
                </div>
        </div>

        <!--Ligne 6 decription infos + longitude-->
        <div class="row col-12">
            <div class="row col justify-content-around">
                <label class="col-4 mb-3" for="descriptionInfos">Description et infos :</label>
                <span class="col-6 mb-3">{{ sortie.infosSortie }}</span>
            </div>
            <div class="row col justify-content-around">
                <label class="col-4 mb-3" for="longitude">Longitude :</label>
                <span class="col-6 mb-3">{{ sortie.lieu.longitude }}</span>
            </div>
        </div>

        <div class="row">
            <div class="row">
                <div class="col-6">
                    <div class="mt-4">
                        <h3>Listes des particpants inscrits :</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div style="overflow: scroll; height:250px;">
                        <table class="table table-striped table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-1">Pseudo</th>
                                    <th scope="col" class="col-3">Nom</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in sortie.participant %}
                                    <tr>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.nom }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}