{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
    <div class="titre">
        <h2>Afficher une sortie</h2>
    </div>

    <div class="container">
        <div>
            <label for="nomSortie">Nom de la sortie :</label> <p>{{ sortie.nom }}</p>
            <label for="campus">Campus :</label> <p>{{ sortie.campus.nom}}</p>
        </div>
        <div>
            <label for="dateHeureSortie">Date et heure de la sortie :</label> <p>{{ sortie.dateHeureDebut|date('d-m-Y H:i:s') }}</p>
            <label for="lieu">Lieu :</label> <p>{{ sortie.lieu.nom }}</p>
        </div>
        <div>
            <label for="dateLimiteInscription">Date limite inscription :</label> <p>{{ sortie.dateLimiteInscription|date('d-m-Y H:i:s') }}</p>
            <label for="rue">Rue :</label> <p>{{ sortie.lieu.rue }}</p>
        </div>
        <div>
            <label for="nombrePlaces">Nombre de places :</label> <p>{{ sortie.nbInscriptionMax }}</p>
            <label for="codePostal">Code postal :</label> <p>{{ sortie.lieu.ville.codePostal }}</p>
        </div>
        <div>
            <label for="durée">Durée :</label>  <p>{{ sortie.duree }}</p>
            <label for="latitude">Latitude :</label>  <p>{{ sortie.lieu.latitude }}</p>
        </div>
        <div>
            <label for="descriptionInfos">Description et infos :</label> <p>{{ sortie.infosSortie }}</p>
            <label for="longitude">Longitude :</label> <p>{{ sortie.lieu.longitude }}</p>
        </div>

        <div class="row">
            <div class="col-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-1">Pseudo</th>
                            <th scope="col" class="col-3">Nom</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for s in sorties %}
                        <tr>
                            <td>{{  }}</td>
                            <td>{{  }}</td>
                        </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}