{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-3">
    <h2>Annuler une sortie</h2>
<br>
<div class="form-row col-11 d-flex justify-content-around">
    <div class=" col-6 ">
        <p><b>Nom de la sortie: </b></p>
        <p><b>Date de la sortie: </b></p>
        <p><b>Campus: </b></p>
        <p><b>Lieu: </b></p>
    </div>
    <div class=" col-6">
        <p>{{ sortie.nom }}</p>
        <p>{{ sortie.dateHeureDebut|date('d-m-Y H:i:s') }}</p>
        <p>{{ sortie.campus.nom }}</p>
        <p>{{ sortie.lieu.nom }}</p>
    </div>
</div>

    <p><b>Motif: </b></p>
    {{ form_start(annuleForm) }}

   {{ form_row(annuleForm.infos) }}

    <div class="form-row col-12 d-flex justify-content-center mt-3">
        <div class="col-6">
        {{ form_row(annuleForm.Enregistrer, {'attr': {'class':'btn btn-primary'}}) }}
        </div>
        <div class="col-6">
            {{ form_row(annuleForm.Annuler, {'attr': {'class':'btn btn-primary'}}) }}
            {{ form_end(annuleForm) }}
        </div>
    </div>

{% endblock %}