{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h2 class="mx-4">Filtrer les sorties</h2>
            </div>
            <div class="col">
                <p> Bonjour {{ user.pseudo }} </p>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="row justify-content-around mt-5 mb-5">
            <div class="col-6">
                <!-- ligne campus -->
                <div class="row">
                    <div class="col">
                        {{ form_label(form.Campus ) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.Campus,{'attr':
                            {
                                'class':"form-select",
                                'aria-label':"Default select example",
                                'width':'fit',
                            }}) }}
                    </div>


                </div>

                <!-- champ de recherche -->
                <div class="row mt-3 mb-4">
                    <div class="col">
                        {{ form_label(form.recherche ) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.recherche,{'attr':
                            {
                                'class':"form-control",
                            }}) }}
                    </div>

                </div>


                <!-- date debut fin -->
                <div class="row ">

                    <div class="col-6">
                        <div class="row">
                            <div class="col-2">
                                {{ form_label(form.dateDebutRecherche ) }}
                            </div>
                            <div class="col-10">
                                {{ form_widget(form.dateDebutRecherche,{'attr':
                                    {
                                        'class':"form-control",
                                    }}) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="row">
                            <div class="col-1">
                                {{ form_label(form.dateFin ) }}
                            </div>
                            <div class="col-11">

                                {{ form_widget(form.dateFin,{'attr':
                                    {
                                        'class':"form-control",
                                    }}) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- check box -->
            <div class="col-3">

                <div class="row">
                    <div class="col-1">
                        {{ form_widget(form.sortieOrganisees) }}
                    </div>
                    <div class="col-10">
                        {{ form_label(form.sortieOrganisees ) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-1">
                        {{ form_widget(form.sortieInscrit) }}
                    </div>
                    <div class="col-10">
                        {{ form_label(form.sortieInscrit ) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-1">
                        {{ form_widget(form.sortieNonInscrit) }}
                    </div>
                    <div class="col-10">
                        {{ form_label(form.sortieNonInscrit ) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-1">
                        {{ form_widget(form.sortiePass) }}
                    </div>
                    <div class="col-10">
                        {{ form_label(form.sortiePass ) }}
                    </div>
                </div>
            </div>

            <!-- bouton recherche -->
            <div class="col-2 mt-5">
                <div class="row">
                    {{ form_widget(form.Rechercher, {'attr': {'class':'btn btn-primary btn-lg'}}) }}
                </div>
            </div>
        </div>

        {{ form_end(form) }}

        <div class="container ml-5 mt-5">
            <div style="height: 400px; overflow: scroll">
                <table class="table table-bordered">
                    <thead>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>actions</th>
                    </thead>
                    <tbody>
                    {% for c in sorties %}
                        <tr>
                            <td>{{ c.nom }}</td>
                            <td>{{ c.dateHeureDebut|date('d/m/Y H:i') }}</td>
                            <td>{{ c.dateLimiteInscription|date('d/m/Y') }}</td>
                            <td>{{ c.participant|length }} / {{ c.nbInscriptionMax }}</td>
                            <td>{{ c.etat.libelle }}</td>
                            {%  set isSubscribe = false %}
                            <!-- boucle for sur les sorties auquelles le participant est inscrit -->
                            {% for sortie in user.sorties  %}

                                {% if sortie.id == c.id  %}
                                    {%  set isSubscribe = true %}
                                    <td> X </td>
                                {%  endif %}

                            {% endfor %}
                            {% if not isSubscribe  %}

                                <td>  </td>
                            {%  endif %}

                            <td><a href="{{ path('afficherProfil', {'id': c.organisateur.id}) }}">{{ c.organisateur.pseudo }}</a></td>

                            <!-- si je suis propriétaire -->
                            {%  if c.organisateur.id == user.id %}
                                <!-- si la sortie est créee-->
                                {% if c.etat.libelle == "Créée" %}

                                    <!-- si la date d'inscription est pas passée-->
                                    {% if ('now'|date('Y-m-d'))<= (c.dateLimiteInscription|date('Y-m-d')) %}
                                        <td>  <a href="{{ path('publier', { 'id': c.id}) }}">Publier</a> - <a href="{{ path('sortiemodifierUneSortie', { 'id': c.id}) }}">Modifier</a> </td>
                                    {% else %}
                                        <td> Publier - Modifier </td>
                                    {%  endif %}

                                {% else %}
                                    <!-- si la date d'inscription est pas passée-->
                                    {% if ('now'|date('Y-m-d'))<= (c.dateLimiteInscription|date('Y-m-d')) and (c.etat.libelle != 'Annulée') %}
                                        <td> <a href="{{ path('sortieafficherUneSortie', { 'id': c.id}) }}">Afficher</a> - <a href="{{ path('sortieannulerLaSortie', { 'id': c.id}) }}">Annuler</a></td>
                                    {% else %}
                                        <td> <a href="{{ path('sortieafficherUneSortie', { 'id': c.id}) }}">Afficher</a>  - Annuler</td>
                                    {%  endif %}
                                {%  endif %}
                            {% else %}


                                <!-- si le nombre d'inscrit et la date sont cohérentes  et si le participant est inscrit -->
                                {% if (c.participant|length < c.nbInscriptionMax) and (('now'|date('Y-m-d'))<= (c.dateLimiteInscription|date('Y-m-d'))) and not isSubscribe %}
                                    <td><a href="{{ path('sortieafficherUneSortie', { 'id': c.id}) }}">Afficher</a> - <a
                                                href=" {{ path('inscrire', { 'id': c.id}) }}">S'inscrire</a></td>
                                {% endif %}

                                {% if (('now'|date('Y-m-d'))<= (c.dateLimiteInscription|date('Y-m-d'))) and  isSubscribe %}
                                    <td><a href="{{ path('sortieafficherUneSortie', { 'id': c.id}) }}">Afficher</a> - <a
                                                href="{{ path('desinscrire', { 'id': c.id}) }}">Se Désinscrire</a></td>
                                {% else %}
                                {% endif %}

                                {% if (('now'|date('Y-m-d'))> (c.dateLimiteInscription|date('Y-m-d'))) or (c.participant|length == c.nbInscriptionMax) %}
                                    <td><a href="{{ path('sortieafficherUneSortie', { 'id': c.id}) }}">Afficher</a></td>
                                {% endif %}

                            {% endif %}

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <a href="{{ path('sortiecreerUneSortie') }}" target="_blank">
            <button type="button" class="btn btn-secondary btn-lg my-sm-5 mx-4" name="search">Créer une sortie</button>
        </a>
    </div>




{% endblock %}
