{% extends 'base.html.twig' %}

{% block body %}
<h2 class="mx-4">Filtrer les sorties</h2>
<br>
<div class="ben mx-4">
    <label>Campus</label>
    <label>
        <div class="fo mx-2">
            {{ form_start(form.Campus) }}
            {{ form_widget(form.Campus) }}
            {{ form_end(form.Campus) }}
        </div>
    </label>
    </select>
</div>
<br>
<div class="ben mx-4">
        <label>Le nom de la sortie contient</label>
        <input class="mx-2" type="text" name="search" placeholder="search">
</div>

    <div class="container">
<div class="ben" style="width: 200px">
        <form class="ben my-sm-5">
            <label for="date" >Entre</label>
                <div class="input-group date " id="datepicker">
                    <input type="datetime-local" id="start" name="trip-start"
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31">
                    <span class="input-group-append">
                        </span>
                    </span>
                </div>
            <label for="date" >et</label>
                <div class="input-group date" id="datepicker">
                    <input type="datetime-local" id="start" name="trip-start"
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31">
                    <span class="input-group-append">
                        </span>
                    </span>
                </div>
        </form>
</div>


    <div class="mx-5">
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Sorties dont je suis l'organisateur/trice
    </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
        Sorties auxquelles je suis inscrit/e
    </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
        Sorties auxquelles je ne suis pas inscrit/e
    </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
        Sorties passées
    </label>
</div>
    </div>
    <a href="" target="_blank"><button type="button" class="btn btn-secondary btn-lg my-sm-5 mx-4" name="search">Rechercher</button></a>

</div>


    <div class="container mx-3">
    <div style="height: 400px; overflow: scroll">
        <table class="table table-bordered">
            <thead>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>actions</th>
            </thead>
            <tbody>
            {% for c in sorties %}
            <tr>
                <td>{{ c.nom }}</td>
                <td>{{ c.dateHeureDebut|date('d/m/Y H:i') }}</td>
                <td>{{ c.dateLimiteInscription|date('d/m/Y') }}</td>
                <td>{{ c.participant|length }}</td>
                <td>{{ c.etat.libelle }}</td>
                <td>{{ c.nbInscriptionMax }}{{ c.nom}}</td>
                <td>{{ c.organisateur.nom }}</td>
                <td>{{ c.nom }}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
<a href="{{ path('sortiecreerUneSortie') }}" target="_blank"><button type="button" class="btn btn-secondary btn-lg my-sm-5 mx-4" name="search">Créer une sortie</button></a>
{% endblock %}
