{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h2 class="mx-4">Filtrer les sorties</h2>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-4">
                <!-- ligne campus -->
                <div class="row">
                    <div class="col">
                        {{ form_label(form.Campus ) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.Campus,{'attr':
                            {
                                'class':"form-select",
                                'aria-label':"Default select example",
                                'width':'fit',
                            }}) }}
                    </div>


                </div>

                <!-- champ de recherche -->
                <div class="row">
                    <div class="col">
                        {{ form_label(form.recherche ) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.recherche,{'attr':
                            {
                                'class':"form-control",
                            }}) }}
                    </div>

                </div>


                <!-- date debut fin -->
                <div class="">
                    <div class="col">
                        {{ form_label(form.dateDebutRecherche ) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.dateDebutRecherche,{'attr':
                            {
                                'class':"form-control",
                            }}) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.dateFin ) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.dateFin,{'attr':
                            {
                                'class':"form-control",
                            }}) }}
                    </div>

                </div>
            </div>

            <!-- check box -->
            <div class="col-2">

                <div class="row">
                    <div class="col">
                        {{ form_widget(form.sortieOrganisees) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.sortieOrganisees ) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        {{ form_widget(form.sortieInscrit) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.sortieInscrit ) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        {{ form_widget(form.sortieNonInscrit) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.sortieNonInscrit ) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        {{ form_widget(form.sortiePass) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.sortiePass ) }}
                    </div>
                </div>
            </div>

            <!-- bouton recherche -->
            <div class="col-4">
                <div class="row">
                    {{ form_widget(form.Enregistrer, {'attr': {'class':'btn btn-primary'}}) }}
                </div>
            </div>
        </div>

        {{ form_end(form) }}

        <div class="container mx-3">
            <div style="height: 400px; overflow: scroll">
                <table class="table table-bordered">
                    <thead>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>actions</th>
                    </thead>
                    <tbody>
                    {% for c in sorties %}
                        <tr>
                            <td>{{ c.nom }}</td>
                            <td>{{ c.dateHeureDebut|date('d/m/Y H:i') }}</td>
                            <td>{{ c.dateLimiteInscription|date('d/m/Y') }}</td>
                            <td>{{ c.participant|length }} / {{ c.nbInscriptionMax }}</td>
                            <td>{{ c.etat.libelle }}</td>
                            <td>{{ c.nom }}</td>
                            <td>{{ c.organisateur.nom }}</td>
                            <td>{{ c.nom }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <a href="{{ path('sortiecreerUneSortie') }}" target="_blank">
            <button type="button" class="btn btn-secondary btn-lg my-sm-5 mx-4" name="search">Créer une sortie</button>
        </a>
    </div>




{% endblock %}
