
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/myStyle.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
<h3>Filtrer les sorties</h3>

<div class="ben mx-2">
    <p>Campus</p>
    <select class="mx-2" aria-label="Default select example">

        <option value="1">toto</option>

    </select>
</div>
<br>
<div class="ben mx-2">
        <p>Le nom de la sortie contient</p>
        <input class="mx-2" type="text" name="search" placeholder="search">
</div>
<br>
<div class="ben">
        <form class="ben my-sm-5">
            <label for="date" >Entre</label>
                <div class="input-group date " id="datepicker">
                    <input type="text" class="form-control" id="date"/>
                    <span class="input-group-append">
                        <span class="input-group-text bg-light">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </span>
                </div>
            <label for="date" >et</label>
                <div class="input-group date" id="datepicker">
                    <input type="text" class="form-control" id="date"/>
                    <span class="input-group-append">
                        <span class="input-group-text bg-light">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </span>
                </div>
        </form>

<br>
    <div class="mx-5">
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Sorties dont je suis l'organisateur/trice
    </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
        Sorties auxquelles je suis inscrit/e
    </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
        Sorties auxquelles je ne suis pas inscrit/e
    </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
        Sorties passées
    </label>
</div>
    </div>
    <button type="button" class="btn btn-secondary btn-lg my-sm-5" name="search">Rechercher</button>
</div>


<div class="container mx-2">
    <div class="" >

        <table class="table table-secondary">
            <thead>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>actions</th>
            </thead>
            <tbody>
            {% for c in sorties %}
            <tr>
                <th>{{ c.nom }}</th>
                <th>{{ c.lieu.ville.nom }}</th>
                <th>{{ c.campus.nom }}</th>
                <th>{{ c.nom }}</th>
                <th>{{ c.nom }}</th>
                <th>{{ c.nom }}</th>
                <th>{{ c.nom }}</th>
                <th>{{ c.nom }}</th>




            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>



</body>
</html>