{% extends 'base.html.twig' %}

{% block body %}

        <div class="container col-8 mt-5">
            {{ form_start(formUser) }}
            <div class="row">
                <div class="col-4">
                    {{ form_row(formUser.image) }}
                </div>
                <div>
                    {{ app.user.image }}
                </div>
                <div class="col-5">
                    <div class="card">
                        <div class="card-header">
                            <h3>Mon Profil</h3>
                        </div>

                        <div class="row">
                            <div class="col-12  mt-2">
                                {{ form_row(formUser.pseudo, {'attr': {'class': "form-control"}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-2">
                                {{ form_row(formUser.prenom, {'attr': {'class': "form-control"}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-2">
                                {{ form_row(formUser.nom, {'attr': {'class': "form-control"}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-2">
                                {{ form_row(formUser.telephone, {'attr': {'class': "form-control"}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-2">
                                {{ form_row(formUser.email, {'attr': {'class': "form-control"}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-2">
                                {{ form_row(formUser.password.first, {'attr': {'class': "form-control"}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-2">
                                {{ form_row(formUser.password.second, {'attr': {'class': "form-control"}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-2">
                                {{ form_row(formUser.Campus, {'attr': {'class': "form-select",'aria-label':"Default select example",'width':'fit'}} )}}
                            </div>
                        </div>
                    </div>
                        <div class="row mt-2">
                            <div class="col-6">
                                {{ form_row(formUser.Enregistrer , {'attr': {'class':'btn btn-primary'}}) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(formUser.Annuler, {'attr': {'class':'btn btn-primary'}}) }}
                            </div>
                        </div>
                        {{ form_end(formUser) }}
                </div>
            </div>
        </div>
{% endblock %}