{% extends 'base.html.twig' %}

{% block body %}
    <h1>Logo Sortir.com</h1>
    <div class="container col-3">

        <h3>Mon Profil</h3>
        {{ form_start(formUser) }}


        <div class="row">
            <div class="col">
                {{ form_label(formUser.pseudo) }}
            </div>
            <div>
                {{ form_widget(formUser.pseudo) }}
            </div>
            <div class="col">
                {{ form_label(formUser.prenom) }}
            </div>
            <div>
                {{ form_widget(formUser.prenom) }}
            </div>
            <div class="col">
                {{ form_label(formUser.nom) }}
            </div>
            <div>
                {{ form_widget(formUser.nom) }}
            </div>
            <div class="col">
                {{ form_label(formUser.telephone) }}
            </div>
            <div>
                {{ form_widget(formUser.telephone) }}
            </div>
            <div class="col">
                {{ form_label(formUser.email) }}
            </div>
            <div>
                {{ form_widget(formUser.email) }}
            </div>

            <div class="col d-flex justify-content-center mt-3">
                {{ form_widget(formUser.password) }}
            </div>

            <div>
            <div class="col">
                {{ form_label(formUser.Campus ) }}
            </div>
            <div >
                {{ form_widget(formUser.Campus,{'attr':
                    {
                        'class':"form-select",
                        'aria-label':"Default select example",
                        'width':'fit'
                    }}) }}
            </div>
            </div>
            <div class="col">
                <p>Ma photo: </p>
            </div>
        </div>
        <div class="col">

            {{ form_widget(formUser.image) }}
        </div>

        <div class="form-row col-12 d-flex justify-content-center mt-3">
            <div class="col">
                {{ form_widget(formUser.Enregistrer , {'attr': {'class':'btn btn-primary'}}) }}
            </div>

            <div class="col">
                {{ form_widget(formUser.Annuler, {'attr': {'class':'btn btn-primary'}}) }}
            </div>


            {{ form_end(formUser) }}
        </div>
    </div>
{% endblock %}